<ng-container *ngIf="loadingSvc.loading$ | async">
  <div class="custom-loader">
    <img src="assets/loader.gif" alt="Loading..." />
  </div>
</ng-container>

<ion-content class="outer-content">
  <div class="register-wrapper">
    <h2 class="sparchat-title">Confirm your Email</h2>
    <form (ngSubmit)="confirm()">
      <ion-item>
        <ion-input
          [(ngModel)]="code"
          name="code"
          required
          [placeholder]="codePlaceholder"
          (focus)="onFocusCode()"
          (blur)="onBlurCode()"
        ></ion-input>
      </ion-item>
      <ion-note *ngIf="error" color="danger" class="ion-padding-start">
        {{error}}
      </ion-note>
      <ion-button
        expand="block"
        type="submit"
        class="registerBtn"
      >
        Confirm
      </ion-button>
    </form>
  </div>
</ion-content>